.option {
  border: none;
}

.correct {
  background-color: green !important;
}

button.incorrect {
  background-color: red !important;
}

.selected {
  border: solid gold;
}

.quizContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.choices > button {
  border-radius: 15%;
  color: white;
  background-color: #f88526;
}

.choices {
  display: flex;
  justify-content: center;
}
.question {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 940px) {
  .choices {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}
