.header {
  position: relative;
  width: 100vw;
  height: 35vh;
  margin-bottom: 2em;
  border-bottom: 5em;
  background-color: #13408b;
}

h1 h4 {
  text-align: center;
  padding-bottom: 3em;
  padding-top: 0.5em;
  color: goldenrod;
}

img {
  display: flex;
  justify-content: flex-start;
  height: 15vh;
  padding-top: 1em;
}
