@import url('https://fonts.googleapis.com/css?family=Poiret+One');

/* .app-button {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 30px;
	position: relative;
	text-decoration: none;
	padding: 1em;
	box-shadow: inset 0 0 0 1px;
	min-width: 340px;
	text-align: center;
    font-family: 'Poiret One' !important;
	color: goldenrod;
	background-color: rgba(0, 0, 0, 0);
	border: 20px double goldenrod;
} */

.app-button { 
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 30px;
	padding: 1em;
	min-width: 340px;
	text-align: center;
    font-family: 'Poiret One' !important;
	color: goldenrod;
	/* border: 3px solid; */
	background-color: rgba(0, 0, 0);
	position: relative;
  }
  
  .app-button:before, .app-button:after {
	border: 5px solid;
  }
  
  .app-button:before, .app-button:after {
	content: "";
	position: absolute;  
  }
  
  .app-button:before {
	top: -15px;
	right: -2px;
	bottom: -15px;
	left: -2px;
  }
  
  .app-button:after {
	top: -2px;
	right: -15px;
	bottom: -2px;
	left: -15px;
  }

.app-button:hover {
    color: white;
    background-color: goldenrod;
    transition: 0.5s;
}

.app-button:active {
    color: white;
    background-color: goldenrod;
    transition: 0.5s;
}

.app-button:focus {
    color: white;
    background-color: goldenrod;
    transition: 0.5s;
}
