@import url('https://fonts.googleapis.com/css?family=Poiret+One');

body {
	background-color: #080800;
	font-family: 'Poiret One';
}

.app-button {
	text-transform: uppercase;
	letter-spacing: 0.4em;
	font-size: 30px;
	position: relative;
	text-decoration: none;
	padding: 1em;
	box-shadow: inset 0 0 0 1px;
	min-width: 340px;
	text-align: center;
}

.app-button:hover {
    color: white;
    background-color: goldenrod;
    transition: 0.5s;
}