.banner{
    background-color: rgb(221, 66, 221);
    width: 30vw;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-radius: 10px;
}

p{
    padding-left: 15px;
    padding-right: 15px;
} 

.score{
    background-color: gold;
    border-left: 3px black solid;
    border-radius: 0  10px 10px 0;

}