.flex-container {
  display: flex;
  flex-flow: column nowrap;
  width: 100vw;
  align-items: center;
}
h1 {
  color: white;
}
table {
  color: white;
  margin: 30px;
  font-size: 30px;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}
.overlay {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 10;
  display: block;
  border-radius: 10px;
  max-width: 78%;
  justify-content: center;
  margin: 0 auto;
}
