@import url("https://fonts.googleapis.com/css?family=Poiret+One");

.app-button {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  font-size: 30px;
  width: 30%;
  height: 10%;
  min-width: 340px;
  min-height: 50px;
  text-align: center;
  text-decoration: none;
  font-family: "Poiret One" !important;
  color: white;
  background: transparent;
  position: relative;
  transition: 0.5s;
  align-items: center;
  background-color: #f7770d;
}

.app-button:before,
.app-button:after {
  border: 4px solid;
}

.app-button:before,
.app-button:after {
  content: "";
  position: absolute;
}

.app-button:before {
  top: -15px;
  right: -2px;
  bottom: -15px;
  left: -2px;
}

.app-button:after {
  top: -2px;
  right: -15px;
  bottom: -2px;
  left: -15px;
}

.app-button:hover {
  color: white;
  background-color: #f88526;
}

.app-button:active {
  color: white;
  background-color: #f88526;
}

.app-button:focus {
  color: white;
  background-color: #f88526;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
