.timebar{
    height: 10px;
    transform-origin: left center;
    background: linear-gradient(to bottom,#A32F80,#4b133a);
    background-color: #A32F80;
    animation: roundtime calc(var(--duration) * 1s) linear forwards;
}

@keyframes roundtime {
    to {
        transform: scaleX(0);
    }
}