.buttonContainer {
}
@media screen and (min-width: 1024px) {
  .buttonCollapse {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  .allButtonContainer {
    display: flex;
    justify-content: center;
  }
}


/* #D01362 #F7770D */